html, body {
	background-color:pink;
	background-attachment:fixed;
	background-size:100% 100%;
	color:black;
      margin : 0;
      padding : 0;
      width : 100%;
      height : 100%;
      }
	}	
body {
   height: 5000px;
}
/* ------ Footer ------*/
footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   height:50px;
   background-color: #20B2AA;
   color: white;
}
.agrandi {
 width: auto;
 height: 100px;
 transition: height 200ms, width 200ms;
}
 
.agrandi:hover {
 width: auto;
 height: 120px;
}
.agrandir_c , .agrandir_g , .agrandir_d{

 height: 48px;
 transition: height 200ms, width 200ms;

}
.agrandir_c:hover , .agrandir_g:hover , .agrandir_d {
 width: auto;
 height: 50px;

}

#retour {
    padding-left:0px;
	float:left;
	margin-left:0px;
      }
#next {
    float:left;
	margin-left:1310px;

      }
#propos {
    background-color:#556B2F;
    background-attachment:fixed;
    background-size:100% 100%;
    color:white;
      margin : 0;
      padding : 0;
      width : 100%;
      height : 100%;
      }
#telechargement {
    background-image:url("images/background/501.png");
    background-attachment:fixed;
    background-size:100% 100%;
    color:white;
      margin : 0;
      padding : 0;
      width : 100%;
      height : 100%;
      }
#un{
	background-image:url("images/background/un.png");
    background-attachment:fixed;
    background-size:100% 100%;
    color:black;
      margin : 0;
      padding : 0;
      width : 100%;
      height : 100%;
      }
#deux {
    background-image:url("images/background/deux.png");
    background-attachment:fixed;
    background-size:100% 100%;
    color:black;
      margin : 0;
      padding : 0;
      width : 100%;
      height : 100%;
      }

#trois {
    background-image:url("images/background/troiscopi.png");
    background-attachment:fixed;
    background-size:100% 100%;
    color:black;
      margin : 0;
      padding : 0;
      width : 100%;
      height : 100%;
      }
	  
#quatre {
    background-image:url("images/background/quatres.png");
    background-attachment:fixed;
    background-size:100% 100%;
    color:black;
      margin : 0;
      padding : 0;
      width : 100%;
      height : 100%;
      }
	  
#accueil {
    background-image:url("images/background/accueil.jpg");
    background-attachment:fixed;
    background-size:100% 100%;
    color:black;
      margin : 0;
      padding : 0;
      width : 100%;
      height : 100%;
      }

#accueilin {
    background-image:url("images/background/accueil.jpg");
    background-attachment:fixed;
    background-size:100% 100%;
    color:black;
      margin : 0;
      padding : 0;
      width : 100%;
      height : 100%;
      }

h1{
	margin:0 !important;
	text-align:center;
}

/* ------ Menu déroulant ------*/
nav{
    margin: 0px;
    padding: 0px;
    font-family: Avenir, sans-serif;
}
nav#acc{
	margin-left:0px;
	padding-top:0px;
	font-family: Avenir, sans-serif;
	background-color:black;
	text-align: center;
}
nav ul{
	margin: 0px;
	padding: 0px;
    list-style-type: none;
}

nav ul li{
    float: left;
    width: 33%;
    text-align: center;
    position: relative;
}
nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav a{
    display: block;
    text-decoration: none;
    color: white;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}
nav a:hover{
    color: white;
    border-bottom: 2px solid gold;
}

.sous{
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: black;
    position: absolute;
    width: 100%;
    z-index: 1000;
}
nav > ul li:hover .sous{
    display: block;
}
.sous li{
    float: none;
    width: 100%;
    text-align: left;
}
.sous a{
    padding: 10px;
    border-bottom: none;
}
.sous a:hover{
    border-bottom: none;
    background-color: RGBa(200,200,200,0.1);
}
.deroulant > a::after{
    content:" ▼";
    font-size: 12px;
	
	
}
/* ------ Menu déroulant niveaux ------*/
nav#D{
	margin-left:200px;
	padding-top:100px;
	font-family: Avenir, sans-serif;
	background-color:invisible;
	text-align: center;
}

ul#D{
	background-color:invisible;
	text-align: center;
}

nav#D a{
    display: block;
    text-decoration: none;
    color: red;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
	margin-left:100px;
	width: 50%;
	

}

.D{
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: invisible;
    position: absolute;
    width: 100%;
    z-index: 1000;
}
.D li{
    float: none;
    width: 100%;
    text-align: left;
}
.D a{
    padding: 10px;
    border-bottom: none;
}
.D a:hover{
    border-bottom: none;
    background-color: RGBa(200,200,200,0.1);
}
nav#D > ul li:hover .D{
    display: block;
}

